a, a:hover {
  text-decoration: blink;
  color: black;
}

.filas{
    background-color: white;
    border:outset activeborder 5px;
    margin-top: 5px;
     margin-bottom: 5px;
    margin-right:0.5px;
    margin-left:0.5px;
    border-radius:3%;
}
.columnas{
    background-color: white;
    border:solid black 1px;
    border-radius:0%;
    
 
}
.contorno{
    background-color: white;
    border:solid white;
    background-color: transparent;
    border:solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
  
 
}
#boton {
  margin-top: 197px;
  margin-left: 60px;
 background-color: black;
 font-family: "Gigi";
 border-radius:40%;
 font-size: 40px;
 padding: 10px;
}
.a{
    color: black;
    text-decoration: black;
}


#Ganaste{
    margin-top:50px;
    font-family: "Gigi";
    font-size: 55px;
     border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-top-style: dashed;
  border-right-style: dashed;
  border-bottom-style: dashed;
  border-left-style: dashed;
  border-radius: 40%;
  text-align: center;
  background-color: white;
  
}
.imgFondoGanar {
  
  background: url("../../imagenes/victoria/juanlu/victoria.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
 
}
.imgFondo{
    background: url("../../imagenes/web/mainpage/fondofinaldegradado.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}
.imagenfondo{
  background: url("../../imagenes/web/mainpage/primera pagina playa web/drawing.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}


