a, a:hover {
  text-decoration: blink;
  color: black;
}

.filas{
    background-color: white;
    border: outset activeborder 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0.5px;
    margin-left: 0.5px;
    border-radius: 2px;
}
.letra{
    background-color: white;
    border: solid gray 1px;
    border-radius: 3px;
}
.texto
{
    text-align: center;
    font-size: large;
}
.fallo
{
    color: red;
}
.contorno{
    background-color: white;
    border:solid white;
    background-color: transparent;
    border:solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
  
 
}
#boton2 {
    margin-top: 100px;
    margin-left: 60px;
    background-color: black;
    font-family: "Stencil";
    border-radius:40%;
    font-size: 30px;
    padding: 10px;
}
#boton {
    margin-top: 197px;
    margin-left: 60px;
    background-color: black;
    font-family: "Gigi";
    border-radius:40%;
    font-size: 40px;
    padding: 10px;
}

.a{
    color: black;
    text-decoration: black;
}

#Ganaste{
    margin-top:50px;
    color: green;
    font-family: "Gigi";
    font-size: 55px;
    border-color: green;
     border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-style: dashed ;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-radius: 40%;
    text-align: center;
    background-color: white;  
}

.imgFondoGanar { 
    background: url("../../imagenes/victoria/juanlu/victoria.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
       background-size: cover; 
}

.imgFondo{
    background: url("../../imagenes/web/mainpage/fondofinaldegradado.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
 }
 
.imagenfondo{
    background: url("../../imagenes/web/mainpage/primera pagina playa web/drawing.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
       background-size: cover;
}
.imgFondoPerder { 
    background: url("../../imagenes/fallos/buenas/imag6.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
       background-size: cover;
       background-color:#dff0d8;
}
#Perdiste{
    margin-top:50px;
    font-family: "Stencil";
    font-size: 40px;
    color: red;
    border-color: red;
     border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-style: dashed;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-radius: 30%;
    text-align: center;
    background-color: white;  
}


